/* Decent Defaults */

video {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: flex;
  justify-content: space-between;
  padding-right: 5%;
  padding-left: 5%;
  background-color: white;
  box-shadow: 0px 2px 5px grey;
  width: 100%;
  height: 10%;
  max-height: 20%;
}

.fa-solid,
.fa-circle-chevron-down {
  color: white;
  font-size: 4pc;
}

section.backgroundimage {
  background-image: url(../images/usa-1661035_1280.jpeg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.footer p {
  max-width: 90%;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1pc;
}

hr {
  width: 15%;
}

.italics {
  font-style: italic;
}

li {
  list-style: none;
  text-align: right;
}

h1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2.6pc;
}

h2 {
  font-weight: lighter;
  font-size: 1.3pc;
}

figcaption {
  padding-bottom: 1rem;
  max-width: 700px;
  font-size: 1pc;
  padding-left: 5%;
  padding-right: 10%;
}

p {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  font-size: 1.3pc;
}

.title {
  font-size: 2.6pc;
}

.credits {
  font-style: italic;
}

.flex {
  display: flex;
  gap: 1rem;
}

.container {
  padding: 2rem;
}

.card {
  border-radius: 1rem;
  box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.16);
}

.card h2 {
  padding: 2rem;
}
.card img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

/* Mobile Only */
@media (max-width: 47.9375em) {
  .flex {
    flex-direction: column;
  }
}

/* Desktop Only */
@media (min-width: 48em) {
  .flex > * {
    width: 100%;
  }
}
